<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isNew ? 'Neues Topic' : 'Topic bearbeiten' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="full">
    <ion-input label="Titel" labelPlacement="stacked" [ngModel]="title()" (ngModelChange)="title.set($event)"></ion-input>
  </ion-item>

  <ion-segment [value]="mode()" (ionChange)="setMode($any($event.detail.value))">
    <ion-segment-button value="write">
      <ion-label>Schreiben</ion-label>
    </ion-segment-button>
    <ion-segment-button value="preview">
      <ion-label>Vorschau</ion-label>
    </ion-segment-button>
  </ion-segment>

  @if (mode() === 'write') {
    <div class="editor-toolbar">
      <div class="toolbar-group">
        <ion-button size="small" fill="clear" (click)="insertAtCursor('**', '**')"><b>B</b></ion-button>
        <ion-button size="small" fill="clear" (click)="insertAtCursor('*', '*')"><i>I</i></ion-button>
        <ion-button size="small" fill="clear" (click)="insertAtCursor('<u>', '</u>')"><u>U</u></ion-button>
        <ion-button size="small" fill="clear" (click)="insertAtCursor('~~', '~~')"><s>S</s></ion-button>
      </div>

      <div class="toolbar-group">
        <ion-button size="small" fill="clear" (click)="openFormulaEditor()">∑ Formel</ion-button>
      </div>
    </div>

    <ion-item lines="full">
      <ion-textarea
        #contentTextarea
        label="Inhalt (Markdown + $LaTeX$)"
        labelPlacement="stacked"
        [ngModel]="content()"
        (ngModelChange)="content.set($event)"
        [autoGrow]="true"
        rows="16"
      ></ion-textarea>
    </ion-item>
  } @else {
    <div #previewContent class="preview" [innerHTML]="preview()"></div>
  }

  <ion-modal [isOpen]="formulaModalOpen()" (didDismiss)="formulaModalOpen.set(false)" class="formula-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Formel einfügen</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="formulaModalOpen.set(false)">Abbrechen</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div #formulaPreview class="formula-preview"></div>

        <ion-item lines="full">
          <ion-input
            label="LaTeX"
            labelPlacement="stacked"
            placeholder="z.B. \frac{1}{2}"
            [ngModel]="formulaSource()"
            (ngModelChange)="onFormulaInput($event)"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="insertFormula()">Einfügen</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
