<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isNew ? 'Neues Topic' : 'Topic bearbeiten' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Speichern</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="full">
    <ion-input label="Titel" labelPlacement="stacked" [ngModel]="title()" (ngModelChange)="title.set($event)"></ion-input>
  </ion-item>

  <ion-segment [value]="mode()" (ionChange)="setMode($any($event.detail.value))">
    <ion-segment-button value="write">
      <ion-label>Schreiben</ion-label>
    </ion-segment-button>
    <ion-segment-button value="preview">
      <ion-label>Vorschau</ion-label>
    </ion-segment-button>
  </ion-segment>

  @if (mode() === 'write') {
    <div class="editor-toolbar">
      <ion-button size="small" fill="outline" (click)="insertAtCursor('**', '**')"><b>F</b></ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('<u>', '</u>')"><u>U</u></ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('$', '$')">$x$</ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('\n$$\n', '\n$$\n')">$$x$$</ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('\\frac{', '}{}')">a/b</ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('\\sqrt{', '}')">&radic;</ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('', '^{}')">x&sup2;</ion-button>
      <ion-button size="small" fill="outline" (click)="insertAtCursor('', '_{}')">x&#8322;</ion-button>
    </div>

    <ion-item lines="full">
      <ion-textarea
        #contentTextarea
        label="Inhalt (Markdown + $LaTeX$)"
        labelPlacement="stacked"
        [ngModel]="content()"
        (ngModelChange)="content.set($event)"
        [autoGrow]="true"
        rows="16"
      ></ion-textarea>
    </ion-item>
  } @else {
    <div #previewContent class="preview" [innerHTML]="preview()"></div>
  }
</ion-content>
