<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Passwort</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  @if (error()) {
    <p>{{ error() }}</p>
  }

  <ion-button expand="block" (click)="login()">Login</ion-button>
</ion-content>
