<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      @if (auth.isLoggedIn()) {
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
        </ion-button>
      } @else {
        <ion-button routerLink="/login">
          <ion-icon name="lock-closed-outline" slot="icon-only"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="modules" href="/tabs/modules">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>
    @if (auth.isLoggedIn()) {
      <ion-tab-button tab="admin" href="/tabs/admin">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <ion-label>Admin</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>
